@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-card: #0a0a0a;
  --color-card-foreground: #fafafa;
  --color-popover: #0a0a0a;
  --color-popover-foreground: #fafafa;
  --color-primary: #34d399;
  /* Emerald 400 */
  --color-primary-foreground: #022c22;
  /* Emerald 950 */
  --color-secondary: #27272a;
  /* Zinc 800 */
  --color-secondary-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #059669;
  /* Emerald 600 */
  --radius: 0.75rem;
}

/* Custom background implementation */
body {
  @apply bg-background text-foreground antialiased selection:bg-emerald-500/30;
  font-feature-settings: "rlig" 1, "calt" 1;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 0.1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 0.1) 0, transparent 50%);
  background-attachment: fixed;
}

@utility text-balance {
  text-wrap: balance;
}

@utility glass {
  @apply bg-zinc-950/70 backdrop-blur-md border border-white/5 shadow-2xl;
}

@utility glass-hover {
  @apply hover:bg-zinc-900/80 hover:border-white/10 transition-all duration-300;
}

@layer utilities {

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }
}